{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block bodycontent %}

<div class="page1_block">
	<div class="container_12">
		
		<div class="grid_12">

			We have just started up. We are revolutionising the way dating happens.
			<br/><br/>
			Why traditional dating does not work?<br/><br/>
			<ul class="list">
				<li>Girl does not feel safe providing her information on a "dating" website</li>
				<li>Guy does not find girls for dating on the website - all the profiles are either of call girls or prostitutes</li>
				<li>Both guys and girls do not enter correct information</li>
				<li>Trust and Privacy are two sides of the same coin and both are sub-optimal in dating websites because the way they are seeded</li>
			</ul>
			<br/>
			Why "Tomonotomo" will work?<br/><br/>
			<ul class="list">
				<li>Tomonotomo is short for "tomodachi no tomodachi" which is japanese for "Friends of Friends". You see only profiles of friends of friends and only friends of friends see your profile.</li>
				<li>Its a gender balanced dating network (40-60 distribution)</li>
				<li>You contact the people you like in three ways: Ask friend to introduce, Contact friend of friend directly, and Just mention that you secretly admire a friend of friend. If he/she also feels the same way, we will connect you two after taking permission from you</li>
				<li>Since, explicity or implicitly, there is always a common friend involved, the system ensures more safety, trust and friendliness</li>
			</ul>
			<br/>
			How is "Tomonotomo" adding value?<br/><br/>
			<ul class="list">
                                <li>Relying on serendipity is so 1990s. We are taking serendipity to the online world. Discovery happens over tomonotomo.</li>
				<li>Safe, secure and honourable platform to meet more people</li>
				<li>Not another dating account - We get the friend information from facebook and build our database to help you, you discover on tomonotomo and then all further communication happens on email or phone or in person, where it should happen</li>
                        </ul>
			<br/>
			Do let us know if we helped you start your relationship. :) While you are here, please like us on <a href="https://www.facebook.com/tomonotomo" target="_blank">fb</a> and follow us on <a href="https://twitter.com/tomonotomo_date" target="_blank">twitter</a>
			<br/><br/>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1398031667088132";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like" data-href="https://www.facebook.com/tomonotomo" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
			<br/><br/>
			<a href="https://twitter.com/tomonotomo_date" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @tomonotomo_date</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


		</div>

	</div>
</div>

{% endblock %}
