{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block bodycontent %}

<div class="page1_block">
	<div class="container_12">
		
		<div class="grid_12">

			We are in stealth mode. We are revolutionising the way dating happens.
			<br/><br/>
			Why traditional dating does not work?<br/><br/>
			<ul class="list">
				<li>Girl does not feel safe providing her information on a "dating" website</li>
				<li>Guy does not find girls for dating on the website - all the profiles are either of call girls or prostitutes</li>
				<li>Both guys and girls do not enter correct information</li>
				<li>Trust and Privacy are two sides of the same coin and both are sub-optimal in dating websites because the way they are seeded</li>
			</ul>
			<br/>
			Why "Tomonotomo" will work?<br/><br/>
			<ul class="list">
				<li>Tomonotomo is short for "tomodachi no tomodachi" which is japanese for "Friends of Friends". You see only profiles of friends of friends and only friends of friends see your profile.</li>
				<li>You contact the people you like in three ways: Ask friend to introduce, Contact friend of friend directly, and Just mention that you find the friend of friend cute. If he/she also feels the same way, we will connect you two after taking permission from you</li>
				<li>Since, explicity or implicitly, there is always a common friend involved, the system ensures more safety, trust and friendliness</li>
			</ul>
			<br/>

			Do let us know if we helped you start your relationship. :)

		</div>

	</div>
</div>

{% endblock %}
