{% load url from future %}
{% load staticfiles %}
{% load compress %}

<html xmlns:fb="http://ogp.me/ns/fb#" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>tomonotomo - meet friends of friends</title>

<meta charset="utf-8">
<meta property="fb:admins" content="717323242"/>
<meta property="fb:app_id" content="1398031667088132"/>
<meta property="og:type" content="website"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
{% include 'meta.html' %}

<link rel="stylesheet" type="text/css"  href="{% static 'tomonotomo/css/style.css' %}">
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'tomonotomo/css/jquery.gritter.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'tomonotomo/css/kwicks-slider.css' %}">

{% if ismobile %}
<link rel="stylesheet" type="text/css" href="{% static 'tomonotomo/css/mobile-style.css' %}">
{% endif %}
{% endcompress %}

<link rel="icon" type="image/png" href="{% static 'tomonotomo/img/favicon.ico' %}">

{% compress js %}
<script type="text/javascript" src="{% static 'tomonotomo/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'tomonotomo/js/script.js' %}"></script>
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static 'tomonotomo/js/jquery.responsivemenu.js' %}"></script>
<script type="text/javascript" src="{% static 'tomonotomo/js/jquery.mobilemenu.js' %}"></script>
<script type="text/javascript" src="{% static 'tomonotomo/js/superfish.js' %}"></script>
<script type="text/javascript" src="{% static 'tomonotomo/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'tomonotomo/js/jquery.kwicks-1.5.1.js' %}"></script>
<script type="text/javascript" src="{% static 'tomonotomo/js/jquery.horizontalNav.js' %}"></script>
<script type="text/javascript" src="{% static 'tomonotomo/js/jquery.flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'tomonotomo/js/jquery.leanModal.min.js' %}?v=2"></script>
<script type="text/javascript" src="{% static 'tomonotomo/js/jquery.gritter.js' %}"></script>
{% endcompress %}
<script>
  $(window).load(function() { 
		$('.full-width').horizontalNav({});
    });
</script>

<!-- Now showing gritter on mobile -->
<style type="text/css">

  @media all and (max-width: 480px) {
	#gritter-notice-wrapper {
		display:none
	}
   }

</style>

<!--[if lt IE 8]>
   <div style=' clear: both; text-align:center; position: relative;'>
     <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
       <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
  </div>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="{% static 'tomonotomo/js/html5.js' %}"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'tomonotomo/css/ie.css' %}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>

<![endif]-->
<!-- start Mixpanel -->
<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("00870579855cee982a5cc4d3f13ca9b4");</script>
<!-- end Mixpanel -->

</head>
<body>

<div class="main">
	<div class="container_12">
		<div class="grid_12">
			<div class="colors_top">
			</div>
		</div>
	</div>
 
	<header>
		<div class="container_12">
			<div class="grid_12">
				<div id="heading-tomonotomo" style="font-size:44px;color:black;vertical-align:bottom;white-space:nowrap"><a href="/home">tomo-no-tomo</a></div>
				<div id="login-tomonotomo" class="links" style="padding-top:24px;text-align:left">
					{% if request.user.id %}
						<a href="/profile" target="_blank">{{ request.user.first_name }}</a> - <a href="/logout">Logout</a> - {{ quota }} Quota Points <img style="width:20px;height:20px" src="{% static 'tomonotomo/img/credits.gif' %}"/> 
					{% else %}
						Have an account? <a href="{% url "socialauth_begin" "facebook" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" target="_blank">Sign in</a> or <a href="{% url "socialauth_begin" "facebook" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" target="_blank">Sign up</a>
					{% endif %}
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="container_12">
			<div class="grid_12">
			 
			</div>
		</div>
	</header>

	{% block bodycontent %}
	{% endblock %}

	<br/><br/>
	<div class="container_12">
		<div class="grid_12">
			<div class="colors_bot"></div>
		</div>
	</div>
</div>
 
<footer>
	<div class="container_12">Tomonotomo © 2013| <a href='{% url "index" %}'>Home</a> | <a href='{% url "about" %}'>About</a> | <a href='{% url "terms" %}'>Terms</a> | <a href='http://www.tomonotomo.wordpress.com'>Blog</a> </div>
</footer>

<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("00870579855cee982a5cc4d3f13ca9b4");

  {% if request.user.id %}
        mixpanel.identify('{{ loggeduserid }}')
  {% endif %}
  mixpanel.track_links('a', 'click on link', {'referrer': document.referrer});


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43121582-1', 'tomonotomo.com');
  ga('send', 'pageview');

</script>

</body></html>
