{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block bodycontent %}

<div class="page1_block">
	<div class="container_12">
		<div style="margin-left:20%;margin-top:20px;font-size:120%">
		<span id="todaydate"></span><br/>
            Number of Users with accesstoken: {{ dbsummary_users_at }}<br/>
            Number of Users with email: {{ dbsummary_users_email }}<br/>
            Number of Users with data: {{ dbsummary_users_data }}<br/>
            Number of UserFriend Entries: {{ dbsummary_userfriends }}<br/>
            Number of Feedback received: {{ dbsummary_userfeedback }}<br/>
	    Users: {{ dbsummary_users }}<br/>
	    Feedback Stats: {{ dbsummary_feedback }}<br/>
		</div>
	</div>
</div>

<script type="text/javascript">

	var currentTime = new Date();
	var month = currentTime.getMonth() + 1;
	var day = currentTime.getDate();
	var year = currentTime.getFullYear();
	$("#todaydate").html(month + "/" + day + "/" + year);

</script>

{% endblock %}
