{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block bodycontent %}

<div class="page1_block">
	<div class="container_12">
		<div style="margin-left:20%;margin-top:20px;font-size:120%">
		<span id="todaydate"></span><br/>
            Number of Users with accesstoken: {{ dbsummary_users_at }}<br/>
            Number of Users with email: {{ dbsummary_users_email }}<br/>
            Number of Users with data: {{ dbsummary_users_data }}<br/>
            Number of UserFriend Entries: {{ dbsummary_userfriends }}<br/>
            Number of Feedback received: {{ dbsummary_userfeedback }}<br/>
	    
	    <br/>Feedback Stats: <br/>
		{% for dbfeedback in dbsummary_feedback %}
			{{ dbfeedback.action }} - {{dbfeedback.action__count }}<br/>
		{% endfor %}
	    <br/>Users loggedin in last 24 hours: ({{ dbsummary_users_login_24 | length }})<br/>
		{% for dbuser in dbsummary_users_login_24 %}
			{{ dbuser.userlogin }} - {{ dbuser.timestamp }} CDT<br/>
		{% endfor %}
	    <br/>Users registerd in last 24 hours: ({{ dbsummary_users_register_24 | length }})<br/>
                {% for dbuser in dbsummary_users_register_24 %}
                        {{ dbuser }} <br/>
                {% endfor %}
	    <br/>Users: ({{ dbsummary_users | length }})<br/>
                {% for dbuser in dbsummary_users %}
                        {{ dbuser.first_name }} - {{dbuser.last_name}} - {{dbuser.userid}} - {{dbuser.email}}<br/>
                {% endfor %}

		</div>
	</div>
</div>

<script type="text/javascript">

	var currentTime = new Date();
	var month = currentTime.getMonth() + 1;
	var day = currentTime.getDate();
	var year = currentTime.getFullYear();
	var timestr = currentTime.toTimeString();
	$("#todaydate").html(month + "/" + day + "/" + year + " " + timestr);

</script>

{% endblock %}
