{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block bodycontent %}


<style type="text/css">

	.friendbtn {
		width:	50%;
		text-align: center;
	}

    .friendbtn.inactivebtn {
		background:	#eb7e8d;
        cursor: default;
	}

</style>

<!-- TODO: Facebook open graph tags for sharing
TODO: Change depending on the feedback by him or her
-->

<div class="page1_block">

	<div class="container_12">

		<div class="grid_4">
			<div class="page_block" style="margin:0px">
				<img src="https://graph.facebook.com/{{ fbid }}/picture?type=large" alt="" style="height:auto">
				<div class="clear"></div>
				<span style="text-align:center">
					<a href="https://facebook.com/{{ fbid }}" target="_blank">{{ fullname }}'s Facebook Page</a>
				</span>
			</div>

			<br/>
			<div style="padding-right:0px;text-align:right">
				{% if worklist %}
				<div class="block"><span> Work </span>
					{% for work in worklist %}
						{{ work }}<br/>
					{% endfor %}
				</div>
				{% endif %}
				{% if educationlist %}
				<div class="block"><span> Education </span>
					{% for education in educationlist %}
						{{ education }}<br/>
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>

		<div class="grid_8">
			<div class="container_12">
			<div class="grid_12">
			<h2>{{ fullname }}<br/>
			<span style="font-size:60%">{{ age }}, {{ location }}</span></h2>
			</div>
			</div>

			<div class="container_12">
				<div class="grid_4">
					<div>
                        {% if user.id %}
						<a id="feedback1" href="tntAction/{{ fbid }}/1/0" class="btn friendbtn"><h3 style="color:white">Ask friend for Introduction</h3></a><br/><br/>
						<a id="feedback2" href="tntAction/{{ fbid }}/2/0" class="btn friendbtn"><h3 style="color:white">Connect directly</h3></a><br/><br/>
						<a id="feedback3" href="tntAction/{{ fbid }}/3/0" class="btn friendbtn"><h3 style="color:white">Cute, but don't connect</h3></a><br/><br/>
						<a id="feedback4" href="tntAction/{{ fbid }}/4/0" class="btn friendbtn"><h3 style="color:white">Pass, and never show</h3></a><br/><br/>
					    {% endif %}
                    </div>

                    <script type="text/javascript">
                        // TODO: Check on why its not working
                        // TODO: Check og tag title in friend page

                        $(window).load(function() {
                            {% for deactivate in deactivateList %}
                                $("#feedback".concat(({{ deactivate }}).toString())).addClass("inactivebtn");
                                $("#feedback".concat(({{ deactivate }}).toString())).unbind("click");
                                $("#feedback".concat(({{ deactivate }}).toString())).unbind("hover");
                                $("#feedback".concat(({{ deactivate }}).toString())).removeAttr("href");
                            {% endfor %}
                        })
                    </script>
                    <div>
                            {% for info in infoList %}
                                <span>{{ info }}</span><br/>
                            {% endfor %}
                    </div>

				</div>
				<div class="grid_4">
					<div>
						<div class="block">
							{% if mutualfriends %}
								<span> Mutual Friends </span>
								{% for mutualfriend in mutualfriends %}
									{{ mutualfriend }}<br/>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


{% endblock %}
