{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block bodycontent %}


<style type="text/css">

	.friendbtn {
		width:	50%;
		text-align: center;
	}

</style>


<div class="page1_block">

	<div class="container_12">

		<div class="grid_4">
			<div class="page_block" style="margin:0px">
				<img src="https://graph.facebook.com/{{ fbid }}/picture?type=large" alt="" style="height:auto">
				<div class="clear"></div>
				<span style="text-align:center">
					<a href="https://facebook.com/{{ fbid }}" target="_blank">{{ fullname }}'s Facebook Page</a>
				</span>
			</div>

			<br/>
			<div style="padding-right:0px;text-align:right">
				{% if worklist %}
				<div class="block"><span> Work </span>
					{% for work in worklist %}
						{{ work }}<br/>
					{% endfor %}
				</div>
				{% endif %}
				{% if educationlist %}
				<div class="block"><span> Education </span>
					{% for education in educationlist %}
						{{ education }}<br/>
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>

		<div class="grid_8">
			<div class="container_12">
			<div class="grid_12">
			<h2>{{ fullname }}<br/>
			<span style="font-size:60%">{{ age }}, {{ location }}</span></h2>
			</div>
			</div>

			<div class="container_12">
				<div class="grid_4">
					<div>
						<a href="tntAction/{{ fbid }}/1" class="btn friendbtn">Ask friend for Introduction</a><br/><br/>
						<a href="tntAction/{{ fbid }}/2" class="btn friendbtn">Connect directly</a><br/><br/>
						<a href="tntAction/{{ fbid }}/3" class="btn friendbtn">Cute, but don't connect</a><br/><br/>
						<a href="tntAction/{{ fbid }}/4" class="btn friendbtn">Pass, and never show</a><br/><br/>
					</div>
				</div>
				<div class="grid_4">
					<div>
						<div class="block">
							{% if mutualfriends %}
								<span> Mutual Friends </span>
								{% for mutualfriend in mutualfriends %}
									{{ mutualfriend }}<br/>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


{% endblock %}
