{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block bodycontent %}


<style type="text/css">

	.friendbtn {
		width:	50%;
		text-align: center;
	}

    .friendbtn.inactivebtn {
		background:	#eb7e8d;
        cursor: default;
	}

    #lean_overlay {

        z-index: 11000; left: 50%;
        top: 60px;
        width: 404px;
        padding-bottom: 2px;
        display:none;
        background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
        max-height:400px;
        overflow-y:scroll;
    }

    #lean_overlay-header { padding: 18px 18px 14px 18px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
    #lean_overlay-header  h2 { color: #444; font-size: 1.8em; font-weight: 700; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
    #lean_overlay-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }
    #lean_overlay-body { padding: 18px 18px 14px 18px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }

    div.reqfriend {
        margin-bottom: 10px;
        height: 40px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-top: 5px;
        border: solid #ffffff 2pt;
    }

    img.reqfriend {
        height: 30px;
        width: 30px;
        padding: 2px;
    }

    div.reqfriend:hover {
        border: solid #eb7e8d 2pt;
    }

</style>

<div class="page1_block">

	<div class="container_12">

		<div class="grid_4">
			<div class="page_block" style="margin:0px">
				<img src="https://graph.facebook.com/{{ fbid }}/picture?type=large" alt="" style="height:auto">
				<div class="clear"></div>
				<span style="text-align:center">
					<a href="https://facebook.com/{{ fbid }}" target="_blank">{{ fullname }}'s Facebook Page</a>
				</span>
			</div>

			<br/>
			<div style="padding-right:0px;text-align:right">
				{% if worklist %}
					<div class="block"><span> Work </span>
						{% for work in worklist %}
							{{ work }}<br/>
						{% endfor %}
					</div>
				{% endif %}
				{% if educationlist %}
					<div class="block"><span> Education </span>
						{% for education in educationlist %}
							{{ education }}<br/>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>

		<div class="grid_8">
			<div class="container_12">
			<div class="grid_12">
			<h2>{{ fullname }}<br/>
			<span style="font-size:60%">{{ agelocation }}</span></h2>
			</div>
			</div>

			<div class="container_12">
				<div class="grid_4">
					<div>
                        {% if user.id %}
				{% if mutualfriends %}
						<a rel="leanModal" name="lean_overlay" href="#lean_overlay" id="feedback1" class="btn friendbtn"><h3 style="color:white">Ask friend for Introduction</h3></a><br/><br/>
						    {% if email_exists %}
                                <a id="feedback2" href="tntAction/{{ fbid }}/2/0" class="btn friendbtn"><h3 style="color:white">Connect directly</h3></a><br/><br/>
						    {% endif %}
                        <a id="feedback3" href="tntAction/{{ fbid }}/3/0" class="btn friendbtn"><h3 style="color:white">Looks Cute/Handsome</h3></a><br/><br/>
						<a id="feedback4" href="tntAction/{{ fbid }}/4/0" class="btn friendbtn"><h3 style="color:white">Pass, and never show</h3></a><br/><br/>
				<a id="feedback5" href="tntAction/{{ fbid }}/5/0" class="btn friendbtn"><h3 style="color:white">Skip</h3></a><br/><br/>
					    {% endif %}
					{% endif %}
                    </div>

                    <script type="text/javascript">

                        $(window).load(function() {
                           $('a[rel*=leanModal]').leanModal({ top : 80, closeButton: ".modal_close" });
                            {% for deactivate in deactivateList %}
                                $("#feedback".concat(({{ deactivate }}).toString())).addClass("inactivebtn");
                                $("#feedback".concat(({{ deactivate }}).toString())).unbind("click");
                                $("#feedback".concat(({{ deactivate }}).toString())).unbind("hover");
                                $("#feedback".concat(({{ deactivate }}).toString())).removeAttr("href");
                            {% endfor %}
                        })
                    </script>
                    <div>
                            {% for info in infoList %}
                                <span>{{ info }}</span><br/>
                            {% endfor %}
                    </div>

				</div>
				<div class="grid_4">
					<div>
						<div class="block">
							{% if mutualfriends %}
								<span> Mutual Friends </span>
								{% for mutualfriend in mutualfriends %}
									{{ mutualfriend.name }}<br/>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

    </div>
    <div id="lean_overlay">

			<div id="lean_overlay-ct">
				<div id="lean_overlay-header">
					<h2>Ask friend for introduction
					<a class="modal_close" href="#" style="float:right;font-size:70%">x</a></h2>
				</div>

                <div id="lean_overlay-body">
                        {% if mutualfriends %}
                            {% for mutualfriend in mutualfriends %}
                                <a href="tntAction/{{ fbid }}/1/{{ mutualfriend.id }}"><div class="reqfriend"><img class="reqfriend" src="{% static 'tomonotomo/img/facebook-blank.png' %}"><h4>{{ mutualfriend.name }}</h4></div></a>
                            {% endfor %}
                        {% endif %}
                </div>
			</div>

	</div>
</div>


{% endblock %}
