{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block bodycontent %}

<div class="page1_block">
	<div class="container_12">
		<div class="grid_8">
			<div class="page_block">
				<img src="{% static 'tomonotomo/img/page1_img3.jpg' %}" alt="">
				<div class="extra_wrapper">		
					safe
					credible
					friendly
				</div>
				<div class="clear"></div>
			</div>
		</div>

       	<div class="grid_4">
			<h2>Connect only with Friends of Friends</h2>
            <h3>We are revolutionising the way dating happens. Be a part of it.<br/><span style="font-size:140%;color:#302b32">{{ usersdatalen }}</span> men and women are here already</span></h3><br/>
			{% if not user.id %}
                <a href="{% url "socialauth_begin" "facebook" %}" class="btn btn-large"><h3 style="color:white">Connect via Facebook</h3></a><br/><br/>
                <h3>We don't post anything on your wall!</h3>
            {% else %}
                <a href="{% url 'loggedin' %}" class="btn btn-large"><h3 style="color:white">Start Exploring</h3></a><br/><br/>
            {% endif %}


		</div>
	</div>
</div>
 
<div class="content page1">
	<div class="container_12">

		<div class="grid_4">
			<div class="pad1">
				<h2>ask mutual friend <br/>to connect</h2>If you find someone attractive, you can request one of your mutual friends to connect with him/her. Since the relationship is originated by a trusted mediator, it forces both parties to be honest and gentle.<br>
			</div>
		</div>
		<div class="grid_4">
			<div class="pad1">
				<h2>connect & <br/>message directly</h2>If you do not want a mutual friend to know about your potential relationship, you can connect to him/her directly if he/she is on tomonotomo and explicitly given permission, but here again, because both the parties have explicit information regarding common friends, both the parties are honourable due to social pressure<br>
			</div>
		</div>
		<div class="grid_4">
			<div class="pad1">
				<h2>looks <br/>attractive</h2>You find someone attractive, and you do not want to initiate the conversation and be more passive. Just indicate that you find him/her attractive and we will connect you two only if he/she also finds you attractive<br>
			</div>
		</div>
		<div class="clear"></div>
		<div class="grid_12">
			<div class="hor_separator"></div>
		</div>
	</div>
</div>

{% endblock %}
