{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block bodycontent %}

<div class="page1_block">
	<div class="container_12">
        <div class="grid_6">
            <img src="{%static 'tomonotomo/img/social-graph.png' %}" style="width:80%"/>
        </div>
		<div class="grid_6">

			<h2> Building your Social Graph...</h2>

            <div>
            <span style="font-size: 150%">"{{ degree1 }}"</span> friends in your network are on tomonotomo<br/><br/>
            {% if degree1|add:"0" > 2 %}
                You have access to <span style="font-size: 150%">"{{ degree2 }}"</span> friends in degree 2 network.<br/><br/>
                <a href="{% url "fofrandom" %}" class="btn btn-large"><h3 style="color:white">Start</h3></a>
            {%  else %}
                You need to have at least <span style="font-size: 150%">"3"</span> friends on tomonotono so that we can build a dense social graph.
                <br/><br/>Please get your friends to be a part of tomonotomo.<br/><br/>
                <a href="https://www.facebook.com/dialog/apprequests?app_id=1398031667088132&message=Connect%20to%20Friends%20of%20Friends%20-%20A%20new%20approach%20to%20online%20dating&redirect_uri=http://www.tomonotomo.com" class="btn btn-large"><h3 style="color:white">Invite Friends</h3></a>
                {% if degree2|add:"0" >= 50 %}
                    <br/><br/><a href="{% url "fofrandom" %}" class="btn btn-large"><h3 style="color:white">Start Anyway</h3></a>
                {% endif %}    
            {% endif %}
	
		{% if show_happening|add:"0" > 0 %}
		<br/><br/>
		<span style="font-size:120%">People have been talking about you while you were not here ;) 
			{% if number_new_introductions|add:"0" > 0 %}
				<br/>{{ number_new_introductions }} friends of friends asked your mutual friends if they could connect to you. 
			{% endif %}
			{% if number_new_connect_directly|add:"0" > 0 %}
				<br/>{{ number_new_connect_directly }} friends of friends connected with you directly and you would have got the emails.
			{% endif %}
			{% if number_new_admire|add:"0" > 0 %}
				<br/>{{ number_new_admire }} friends of friends admire you and are waiting for you to discover them :)
			{% endif %}
		<br/>Have fun :)
		</span>
		{% endif %}
		
			</div>
            <br/>

		</div>

	</div>
</div>

{% endblock %}
