{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block bodycontent %}

<div class="page1_block">
	<div class="container_12">
        <div class="grid_6">
            <img src="{%static 'tomonotomo/img/sadgirl.png' %}" style="width:80%"/>
        </div>
		<div class="grid_6">

			<h2> Sorry! We do not have a match for you! </h2>
			<h3 style="font-size:120%"> We could not find even one single person in your friend of friend network, who we think is a match for you, based on your age, location and interests. If you invite your friends, may be we will be able to do a better job. Please invite your friends. Else, sit tight and come back in a couple of days :)</h3><br/>

            <div>
                <a href="https://www.facebook.com/dialog/apprequests?app_id=1398031667088132&message=Connect%20to%20Friends%20of%20Friends%20-%20A%20new%20approach%20to%20online%20dating&redirect_uri=http://www.tomonotomo.com" class="btn btn-large"><h3 style="color:white">Invite Friends</h3></a><br/><br/>
		<a href="{% url "index" %}" class="btn btn-large"><h3 style="color:white">Go to Home Page</h3></a><br/><br/>
		<a href="http://www.tomonotomo.com/fof" class="btn btn-large"><h3 style="color:white">Check again for a date</h3></a>
		<br/><br/><br/><br/>	
		While you are here, please like us on <a href="https://www.facebook.com/tomonotomo" target="_blank">fb</a> and follow us on <a href="https://twitter.com/tomonotomo_date" target="_blank">twitter</a>
                        <br/><br/>
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1398031667088132";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-like" data-href="https://www.facebook.com/tomonotomo" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
                        <br/><br/>
                        <a href="https://twitter.com/tomonotomo_date" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @tomonotomo_date</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


			</div>
            <br/>

		</div>

	</div>
</div>

{% endblock %}
