{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block titlecontent %}
{{ title }}
{% endblock %}

{% block bodycontent %}


<style type="text/css">

      .friendbtn {
		width:	60%;
		text-align: center;
		margin-left:5px;
		margin-right:5px;
		margin-bottom:20px;
	}

    .friendbtn.donebtn {
		background: #eb7e8d;
        	cursor: default;
	}

    .friendbtn.inactivebtn {
		display: none;
	}

    #lean_overlay {

        z-index: 11000; 
	left: 15%;
        top: 60px;
        width: 70%;
	max-width: 400px;
        padding-bottom: 2px;
        display:none;
        background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
        max-height:400px;
        overflow-y:scroll;
    }

    #lean_overlay-header { padding: 18px 18px 14px 18px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
    #lean_overlay-header  h2 { color: #444; font-size: 1.8em; font-weight: 700; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
    #lean_overlay-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }
    #lean_overlay-body { padding: 18px 18px 14px 18px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }

    div.reqfriend {
        margin-bottom: 10px;
        height: 40px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-top: 5px;
        border: solid #ffffff 2pt;
    }

    img.reqfriend {
        height: 30px;
        width: 30px;
        padding: 2px;
    }

    div.reqfriend:hover {
        border: solid #eb7e8d 2pt;
    }


</style>

<div class="page1_block">

	<div class="container_12">

		<div class="grid_4">
			<div class="page_block" style="margin:0px">
				<img src="https://graph.facebook.com/{{ fbid }}/picture?width=300&height=300" alt="" style="width:99%;height:auto">
				<div class="clear"></div>
				<span style="text-align:center">
					<a href="https://facebook.com/{{ fbid }}" target="_blank">{{ fullname }}'s Facebook Page</a>
				</span>
			</div>

			<br/>
			{% if secretadmirers %}
			<div style="text-align:center">
				{{ secretadmirers }} secret admirers <img style="width:16px;height:16px" src="{% static 'tomonotomo/img/svgimages/tomonotomo3.png' %}" alt="" />
			</div>
			<br/>
			{% endif %}
		</div>

		<div class="grid_8">
			<div class="container_12">
			<div class="grid_12">
			<h2>{{ fullname }}<br/>
			<span style="font-size:60%">{{ agelocation }}</span></h2>
			</div>
			</div>

			<div class="container_12">
				<div class="grid_4" style="text-align:center">
                        {% if request.user.id %}
				{% if show_button %}
					<div>
					<a rel="leanModal" name="lean_overlay" href="#lean_overlay" id="feedback1" class="btn friendbtn" title="Sends an email to a friend you choose requesting for an introduction to {{ fullname }}">
						<img src="{% static 'tomonotomo/img/svgimages/tomonotomo1-white.png' %}" alt="" style="width:40px"><h3 style="color:white">Ask friend for Introduction</h3>
					</a>
					</div>
					{% if email_exists %}
					<div>
                                	<a id="feedback2" href="/tntAction/{{ fbid }}/2/0" class="btn friendbtn" title="Sends an email to you and {{ fullname }} requesting to connect">
						<img src="{% static 'tomonotomo/img/svgimages/tomonotomo2-white.png' %}" alt="" style="width:40px"><h3 style="color:white">Connect directly</h3>
					</a>
					</div>
					{% endif %}
					<div class="container_4">
					<div class="grid_2" style="margin-left:0px">
                        		<a id="feedback3" href="/tntAction/{{ fbid }}/3/0" class="btn friendbtn" title="Sends email connecting you and {{ fullname }} only if both of you admire each other">
					<img src="{% static 'tomonotomo/img/svgimages/tomonotomo3-white.png' %}" alt="" style="width:40px"><h3 style="color:white">Admire<br/>Secretly</h3>
					</a>
					</div>
					<div class="grid_2" style="margin-left:0px">
					<a id="feedback4" href="/tntAction/{{ fbid }}/4/0" class="btn friendbtn" title="Skip, do not show {{ fullname }} to me again and show next">
					<img src="{% static 'tomonotomo/img/svgimages/tomonotomo4-white.png' %}" alt="" style="width:40px"><h3 style="color:white">Skip<br/>Forever</h3>
					</a>
					</div>
					</div>
					<div>
					<a id="feedback5" href="/tntAction/{{ fbid }}/5/0" class="btn friendbtn" title="Skip and show next">
					<img src="{% static 'tomonotomo/img/svgimages/tomonotomo5-white.png' %}" alt="" style="width:40px"><h3 style="color:white">Show Next</h3>
					</a>
					</div>
			{% endif %}
		{% endif %}

                    <script type="text/javascript">

                        $(window).load(function() {
                           $('a[rel*=leanModal]').leanModal({ top : 80, closeButton: ".modal_close" });
                            {% for deactivate in deactivateList %}
                                $("#feedback".concat(({{ deactivate }}).toString())).addClass("inactivebtn");
				$("#feedback".concat(({{ deactivate }}).toString())).unbind("click");
                                $("#feedback".concat(({{ deactivate }}).toString())).removeAttr("href");
				$("#feedback".concat(({{ deactivate }}).toString())).parent().siblings('.grid_2').addClass('grid_4');
				$("#feedback".concat(({{ deactivate }}).toString())).parent().siblings('.grid_2').removeClass('grid_2');
                            {% endfor %}
		  	    {% for doneelement in doneList %}
                                $("#feedback".concat(({{ doneelement }}).toString())).addClass("donebtn");
                                $("#feedback".concat(({{ doneelement }}).toString())).unbind("click");
                                $("#feedback".concat(({{ doneelement }}).toString())).removeAttr("href");
                            {% endfor %}
			   $(".friendbtn").live('click', function() { $(".friendbtn").attr('disabled','disabled')} );

                        })
                    </script>
                    <div>
                            {% for info in infoList %}
                                <span>{{ info }}</span><br/>
                            {% endfor %}
				<br/><br/>
                    </div>

				</div>
				<div class="grid_4">
					<div>
						{% if mutualfriends %}
	                                                <div class="block" style="background:none">
								<span> Mutual Friends </span>
								{% for mutualfriend in mutualfriends %}
									<a href="/profile/{{mutualfriend.name|slugify}}/{{mutualfriend.id}}" target="_blank" style="font-size:inherit;font-family:inherit">{{ mutualfriend.name }}<a/><br/>
								{% endfor %}
							</div>
						{% endif %}
                                		{% if worklist %}
							<div class="block" style="background:none">
                                        			<span> Work </span>
                                                		{% for work in worklist %}
                                                        		{{ work }}<br/>
                                                		{% endfor %}
							</div>
			                        {% endif %}
                                		{% if educationlist %}
                                        		<div class="block" style="background:none">
								<span> Education </span>
                                                		{% for education in educationlist %}
                                                        		{{ education }}<br/>
                                                		{% endfor %}
							</div>
                                		{% endif %}
					</div>
				</div>

    </div>
    </div>
    <div id="lean_overlay">

			<div id="lean_overlay-ct">
				<div id="lean_overlay-header">
					<h2>Ask friend for introduction
					<a class="modal_close" href="#" style="float:right;font-size:70%">x</a></h2>
				</div>

                <div id="lean_overlay-body">
                        {% if mutualfriends %}
                            {% for mutualfriend in mutualfriends %}
                                <a href="/tntAction/{{ fbid }}/1/{{ mutualfriend.id }}"><div class="reqfriend"><img class="reqfriend" src="http://graph.facebook.com/{{ mutualfriend.id }}/picture?type=square"><h4>{{ mutualfriend.name }}</h4></div></a>
                            {% endfor %}
                        {% endif %}
                </div>
			</div>

	</div>
</div>

	<div class="container_12" style="text-align:center;max-width:70%">
		<span style="text-wrap:normal;word-wrap:normal;">
		{{ lovequote }} <br/> #tomonotomo @tomonotomo_date
		</span>
	</div>
</div>

<script type="text/javascript">
$(window).load(function(){
	{% if notify_invite_friends %}
	$.gritter.add({
		title: '<br/>Help Tomonotomo be more awesome - Invite Friends',
		text: '<span style="font-size:120%">You do not have enough friends on tomonotomo? To expand your reach and possibly find a match, <a href="https://www.facebook.com/dialog/apprequests?app_id=1398031667088132&message=Connect%20to%20Friends%20of%20Friends%20-%20A%20new%20approach%20to%20online%20dating&redirect_uri=http://www.tomonotomo.com" target="_blank">"Invite your Friends"</a> on board</span>',
		class_name: 'gritter-light',
		time: 20000
	});
	{% endif %}
        {% if notify_hover_on_button %}
        $.gritter.add({
                title: '<br/>Help Tomonotomo be more awesome - Give us 5 seconds',
                text: '<span style="font-size:120%">You are skipping profiles a lot. Having trouble understanding the options? Please hover on the buttons and spend 5 seconds to understand us.</span>',
		class_name: 'gritter-light',
		time:20000
        });
        {% endif %}
        {% if False %}
        $.gritter.add({
                title: '<br/>Welcome to Tomonotomo',
                text: '<span style="font-size:120%">Lets get the party started! We are showing you matches from your friend of friend network for a safe and honourable dating experience. If its not intuitive, please hover on the buttons and spend 5 seconds to understand us. Best Wishes! :)</span>',
                class_name: 'gritter-light',
                time:20000
        });
        {% endif %}

});

</script>

<script type="text/javascript">

	mixpanel.track_links('#feedback1 a', 'click on action 1', {'referrer': document.referrer, 'profileid': {{ fbid }}});
	mixpanel.track_links('#feedback2 a', 'click on action 2', {'referrer': document.referrer, 'profileid': {{ fbid }}});
	mixpanel.track_links('#feedback3 a', 'click on action 3', {'referrer': document.referrer, 'profileid': {{ fbid }}});
	mixpanel.track_links('#feedback4 a', 'click on action 4', {'referrer': document.referrer, 'profileid': {{ fbid }}});
	mixpanel.track_links('#feedback5 a', 'click on action 5', {'referrer': document.referrer, 'profileid': {{ fbid }}});
	mixpanel.track('profilepage', {'profileid': {{ fbid }} });
	mixpanel.track_links('.gritter_light', 'click on gritter notification');
	
</script>

{% if notify_welcome %}
	{% include "tomonotomo/tour.html" %}
	{% block tourcontent %} {% endblock %}
{% endif %}

{% endblock %}

