{% extends "tomonotomo/base.html" %}
{% load staticfiles %}

{% block bodycontent %}

<div class="page1_block">
	<div class="container_12">
        <div class="grid_6">
            <img src="{%static 'tomonotomo/img/sadgirl.png' %}" style="width:80%"/>
        </div>
		<div class="grid_6">

			<h2> Server Error! 500 </h2>
			<h3> Something did not work. We are really sorry. We will fix it and get back to you. Please contact the administrator at admin 'at' tomonotomo.com</h3><br/>

            <div>
                <a href="https://www.facebook.com/dialog/apprequests?app_id=1398031667088132&message=Connect%20to%20Friends%20of%20Friends%20-%20A%20new%20approach%20to%20online%20dating&redirect_uri=http://www.tomonotomo.com" class="btn btn-large"><h3 style="color:white">Invite Friends</h3></a><br/><br/>
		<a href="{% url "index" %}" class="btn btn-large"><h3 style="color:white">Go to Home Page</h3></a>
			</div>
            <br/>

		</div>

	</div>
</div>

{% endblock %}
